@model TimeTracker.Models.CategoriesViewModels.CategoriesIndexViewModel

@{
    ViewData["Title"] = "Index";
}

<h1>Categories</h1>

<p>
    <a asp-action="Create">Create New Category</a>
</p>
<form action=" Categories/IndexPost" method="post">
    <table class="table">

        <tbody>
            <tr>
            <td>
                <div class="form-group">
                    <label asp-for="DatePicked" class="control-label"></label>
                    <input asp-for="DatePicked" class="form-control" />
                    <span asp-validation-for="DatePicked" class="text-danger"></span>
                 </div>
            </td>
        </tr>
              @*@foreach (var item in Model.UserCategories)
              {
                  if (item.DatePicked != DatePicked);
              }*@
               
            @for (int i = 0; i < Model.Categories.Count; i++)
            {

                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => Model.Categories[i].Title)
                    </td>
                    <td>
                        <input type="number" asp-for="MinutesSpentList[i]" />
                    </td>


                    <td>
                        @*<a asp-controller="UserCategories" asp-action="Edit" asp-route-id="@Model.Categories[i].Id">Edit</a>*@
                        @*<a asp-action="Edit" asp-route-id="@Model.Categories[i].Id">Edit</a> |*@
                        @*<a asp-action="Details" asp-route-id="@item.Id">Details</a> |*@
                        @*<a asp-area="" asp-controller="UserCategories" asp-action="Delete" asp-route-id="@Model.Categories[i].Id">Delete</a>*@
                        <a asp-action="Delete" asp-route-id="@Model.Categories[i].Id">Delete Category</a>
                    </td>
                    <td>
                        <input type="hidden" asp-for="Categories[i].Id" />
                    </td>
                </tr>
            }

        </tbody>
    </table>

    <input type="Submit" value="Save" />
    </form>
