@model TimeTracker.Models.CategoriesViewModels.CategoriesIndexViewModel

@{
    ViewData["Title"] = "Index";
}

<h1>Categories</h1>

<p>
    <a asp-action="Create">Create New Category</a>
</p>

<form asp-controller ="Categories" asp-action="Index" method="post">
    <table class="table">
        <tbody>
            <tr>
                <td>
                    <!-- Insert a date editor in a Razor view -->
                    <div class="form-group">
                        @Html.LabelFor(model => model.DatePicked, htmlAttributes: new { @class = "control-label col-md-2" })
                        <div class="col-md-10">
                            @Html.TextBoxFor(model => model.DatePicked, new { @type = "date", @class = "form-control datepicker", @Value = Model.DatePicked.ToString("yyyy-MM-dd") })
                            @Html.ValidationMessageFor(model => model.DatePicked, "", new { @class = "text-danger" })
                            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                        </div>
                    </div>
                </td>
            </tr>

            @for (int i = 0; i < Model.Categories.Count; i++)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => Model.Categories[i].Title)
                    </td>
                    <td>
                        <input type="number" asp-for="MinutesSpentList[i]" />
                        <span asp-validation-for="UserCategories[i].MinutesSpent" class="text-danger"></span>
                    </td>

                    <td>
                        @*<a asp-controller="UserCategories" asp-action="Edit" asp-route-id="@Model.Categories[i].Id">Edit</a>*@
                        @*<a asp-action="Edit" asp-route-id="@Model.Categories[i].Id">Edit</a> |*@
                        @*<a asp-action="Details" asp-route-id="@item.Id">Details</a> |*@
                        @*<a asp-area="" asp-controller="UserCategories" asp-action="Delete" asp-route-id="@Model.Categories[i].Id">Delete</a>*@
                        <a asp-action="Delete" asp-route-id="@Model.Categories[i].Id">Delete Category</a>
                    </td>
                    <td>
                        <input type="hidden" asp-for="Categories[i].Id" />
                    </td>
                </tr>
            }

        </tbody>
    </table>

    <input type="Submit" value="Save" />
</form>
